@model Safepot.Entity.SfpCompany
@{
    ViewData["Title"] = "Agent Registration";
}

<style>
    .text-red {
        color: red;
    }
</style>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Dashboard")">Home</a></li>
                <li class="breadcrumb-item active">Agent Registration</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <form class="row g-3 needs-validation" method="post" asp-action="SaveAgent" asp-controller="Agent" novalidate>
                            <input type="hidden" value="@Model.Id" name="Id" />
                            <div class="col-12">
                                <label for="firstName" class="form-label">Company Name<span class="text-red">*</span></label>
                                <input type="text" name="CompanyName" value="@Model.CompanyName" class="form-control" id="companyName" maxlength="256" required>
                                <div class="invalid-feedback">Please, enter company name!</div>
                            </div>

                            <div class="col-12">
                                <label for="emailId" class="form-label">Email<span class="text-red">*</span></label>
                                <input type="email" name="EmailId" value="@Model.EmailId" class="form-control" id="emailId" maxlength="256" required>
                                <div class="invalid-feedback">Please enter a valid Email Adddress!</div>
                            </div>

                            <div class="col-12">
                                <label for="mobile" class="form-label">Mobile Number<span class="text-red">*</span></label>
                                <div class="input-group has-validation">
                                    <input type="number" name="Mobile" value="@Model.Mobile" class="form-control" id="mobile" maxlength="10" required>
                                    <div class="invalid-feedback">Please enter mobile number.</div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="state" class="form-label">State<span class="text-red">*</span></label>
                                <div class="input-group has-validation">
                                    <select class="form-control" id="state" name="StateId" required>
                                        <option value="0">--Select--</option>
                                    </select>
                                    <div class="invalid-feedback">Please select state.</div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="city" class="form-label">City<span class="text-red">*</span></label>
                                <div class="input-group has-validation">
                                    <select class="form-control" id="city" name="CityId" required>
                                        <option value="0">--Select--</option>
                                    </select>
                                    <div class="invalid-feedback">Please select city.</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="address" class="form-label">Address<span class="text-red">*</span></label>
                                <div class="input-group has-validation">
                                    <textarea rows="3" class="form-control" name="Address" maxlength="512" id="address">@Model.Address</textarea>
                                    <div class="invalid-feedback">Please enter address.</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="landMark" class="form-label">Landmark</label>
                                <div class="input-group has-validation">
                                    <input type="text" name="LandMark" value="@Model.LandMark" class="form-control" id="landMark" maxlength="256">
                                    <div class="invalid-feedback">Please enter landmark.</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="panNumber" class="form-label">PAN Number</label>
                                <div class="input-group has-validation">
                                    <input type="text" name="PANNumber" value="@Model.PANNumber" class="form-control" id="panNumber" maxlength="10">
                                    <div class="invalid-feedback">Please enter pan number.</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="geoLocation" class="form-label">Amount<span class="text-red">*</span></label>
                                <div class="input-group has-validation">
                                    <input type="number" name="Amount" value="@Model.Amount" class="form-control" id="amount" maxlength="8">
                                    <div class="invalid-feedback">Please enter Amount.</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="joinDate" class="form-label">GST<span class="text-red">*</span></label>
                                <div class="input-group has-validation">
                                    <input type="number" name="GST" value="@Model.GST" readonly class="form-control" id="gst" required>
                                    <div class="invalid-feedback">Please enter GST.</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="totalAmount" class="form-label">Total Amount<span class="text-red">*</span></label>
                                <div class="input-group has-validation">
                                    <input type="number" name="TotalAmount" readonly value="@Model.TotalAmount" class="form-control" id="totalAmount" maxlength="6" required>
                                    <div class="invalid-feedback">Please enter Total Amount.</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="renewalDate" class="form-label">Invoice Type<span class="text-red">*</span></label>
                                <div class="input-group has-validation">
                                    <select class="form-control" name="InvoiceType">
                                        @if (Model.InvoiceType == "B2C")
                                        {
                                            <option value="B2C" selected>B2C</option>
                                            <option value="B2B">B2B</option>
                                        }
                                        else if (Model.InvoiceType == "B2B")
                                        {
                                            <option value="B2C">B2C</option>
                                            <option value="B2B" selected>B2B</option>
                                        }
                                        else
                                        {
                                            <option value="B2C">B2C</option>
                                            <option value="B2B">B2B</option>
                                        }
                                    </select>
                                    <div class="invalid-feedback">Please select invoice type.</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="transactionid" class="form-label">Transaction Id<span class="text-red">*</span></label>
                                <div class="input-group has-validation">
                                    <input type="text" name="TransactionId" value="@Model.TransactionId" class="form-control" id="transactionid" maxlength="256" required>
                                    <div class="invalid-feedback">Please enter transaction id.</div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="paidVia" class="form-label">Paid Via<span class="text-red">*</span></label>
                                <div class="input-group has-validation">
                                    @{
                                        string[] paymenttypes = { "Google Pay", "Phone Pay", "Paytm", "Others" };
                                    }
                                    <select class="form-control" name="PaidVia">
                                        @for (int i = 0; i < paymenttypes.Length; i++)
                                        {
                                            if (Model.PaidVia == paymenttypes[i])
                                            {
                                                <option value="@paymenttypes[i]" selected>@paymenttypes[i]</option>
                                            }
                                            else
                                            {
                                                <option value="@paymenttypes[i]">@paymenttypes[i]</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100" id="btnSave" type="submit">Save</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>
    </section>
</main>

<script src="~/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    fnGetStates("@Model.StateId");

    fnGetCities("@Model.StateId", "@Model.CityId");


    function fnGetStates(id) {
        $.getJSON("@Url.Action("GetStates","Agent")", function (result) {
            $("#state").html('');
            $("#state").append("<option value='0'>--Select--</option>");
            $.each(result, function (i, field) {
                if (field.id == id) {
                    $("#state").append("<option value='" + field.id + "' selected>" + field.stateName + "</option>");
                }
                else {
                    $("#state").append("<option value='" + field.id + "'>" + field.stateName + "</option>");
                }
            });
        });
    };

    function fnGetCities(stateid, cityid) {
        $.getJSON("@Url.Action("GetCitiesbyState","Agent")?stateid=" + stateid, function (result) {
            $("#city").html('');
            $("#city").append("<option value='0'>--Select--</option>");
            $.each(result, function (i, field) {
                if (field.id == cityid) {
                    $("#city").append("<option value='" + field.id + "' selected>" + field.cityName + "</option>");
                }
                else {
                    $("#city").append("<option value='" + field.id + "'>" + field.cityName + "</option>");
                }
            });
        });
    };

    $("#state").change(function () {
        fnGetCities($(this).val(), 0);
    });

    $("#btnSave").click(function () {
        if ($("#password").val() != $("#confirmPassword").val()) {
            alert("Password & Confirm Password is not matching");
            return false;
        }
    });

    $(document).on("keyup", "#amount", function () {
        var thisVal = $(this).val();
        if (thisVal != null && thisVal != undefined && thisVal != NaN) {
            var gst = parseFloat(thisVal) * 18 / 100;
            var total = parseFloat(thisVal) + parseFloat(gst);
            $("#gst").val(gst);
            $("#totalAmount").val(parseFloat(total));
        }
    });
</script>


