@model Safepot.Entity.SfpCompany
@{
    ViewData["Title"] = "Agent Registration";
}

<style>
    .text-red {
        color: red;
    }
</style>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Dashboard")">Home</a></li>
                <li class="breadcrumb-item active">Agent Approval</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <form class="row g-3 needs-validation" method="post" asp-action="ApproveAgent" asp-controller="AgentApproval" novalidate>
                            <input type="hidden" value="@Model.Id" name="companyId" />
                            <div class="row" style="padding-top:20px;">
                                <div class="col-lg-6">
                                    <label for="firstName" class="form-label" style="font-weight:bold">Company Name</label>
                                    <br/><span>@Model.CompanyName</span>
                                </div>
                            </div>
                            <hr/>
                           
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="mobile" class="form-label" style="font-weight:bold">Mobile Number</label>
                                    <div class="input-group has-validation">
                                        <br /><span>@Model.Mobile</span>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <label for="emailId" class="form-label" style="font-weight:bold">Email</label>
                                    <br /><span>@Model.EmailId</span>
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="state" class="form-label" style="font-weight:bold">State</label>
                                    <div class="input-group has-validation">
                                        <br /><span>@Model.StateName</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="city" class="form-label" style="font-weight:bold">City</label>
                                    <div class="input-group has-validation">
                                        <br /><span>@Model.CityName</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="landMark" class="form-label" style="font-weight:bold">Landmark</label>
                                    <div class="input-group has-validation">
                                        <br /><span>@Model.LandMark</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="address" class="form-label" style="font-weight:bold">Address</label>
                                    <div class="input-group has-validation">
                                        <br /><span>@Model.Address</span>
                                    </div>
                                </div>
                            </div>
                            
                           
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="panNumber" class="form-label" style="font-weight:bold">PAN Number</label>
                                    <div class="input-group has-validation">
                                        <br /><span>@Model.PANNumber</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="geoLocation" class="form-label" style="font-weight:bold">Invoice Type</label>
                                    <div class="input-group has-validation">
                                        <br /><span>@Model.InvoiceType</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="panNumber" class="form-label" style="font-weight:bold">Amount</label>
                                    <div class="input-group has-validation">
                                        <br /><span>@Model.Amount</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="geoLocation" class="form-label" style="font-weight:bold">GST</label>
                                    <div class="input-group has-validation">
                                        <br /><span>@Model.GST</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="panNumber" class="form-label" style="font-weight:bold">Paid Via</label>
                                    <div class="input-group has-validation">
                                        <br /><span>@Model.PaidVia</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="geoLocation" class="form-label" style="font-weight:bold">Transaction Id</label>
                                    <div class="input-group has-validation">
                                        <br /><span>@Model.TransactionId</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <label for="remarks" class="form-label" style="font-weight:bold">Remarks</label>
                                <div class="input-group has-validation">
                                    <textarea class="form-control" rows="3" name="remarks" id="remarks"></textarea>
                                </div>
                            </div>
                            <div class="row" style="margin-top:20px;">
                                <div class="col-lg-6">
                                    <button class="btn btn-primary w-100" id="btnApprove" value="Approved" type="submit" name="status">Approve</button>
                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-danger w-100" id="btnReject" value="Rejected" type="submit" name="status">Reject</button>
                                </div>
                            </div>
                            
                        </form>

                    </div>
                </div>

            </div>

        </div>
    </section>
</main>

<script src="~/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    

    $("#btnReject").click(function () {
        if ($("#remarks").val() == "" || $("#remarks").val() == null) {
            alert("Please enter remarks");
            return false;
        }
    });
</script>


