@model Safepot.Entity.SfpUser
@{
    ViewData["Title"] = "Agent Registration";
}

<style>
    .text-red {
        color: red;
    }
</style>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Dashboard")">Home</a></li>
                <li class="breadcrumb-item active">Agent Registration</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <form class="row g-3 needs-validation" method="post" asp-action="SaveUser" asp-controller="User" novalidate>
                            <input type="hidden" value="@Model.Id" name="Id" />
                            <div class="col-12">
                                <label for="firstName" class="form-label">First Name<span class="text-red">*</span></label>
                                <input type="text" name="FirstName" value="@Model.FirstName" class="form-control" id="firstName" maxlength="256" required>
                                <div class="invalid-feedback">Please, enter first name!</div>
                            </div>

                            <div class="col-12">
                                <label for="lastName" class="form-label">Last Name<span class="text-red">*</span></label>
                                <input type="text" name="LastName" value="@Model.LastName" class="form-control" id="lastName" maxlength="256" required>
                                <div class="invalid-feedback">Please, enter last name!</div>
                            </div>

                            <div class="col-12">
                                <label for="userName" class="form-label">Username<span class="text-red">*</span></label>
                                <div class="input-group has-validation">
                                    <input type="text" name="UserName" value="@Model.UserName" class="form-control" id="userName" maxlength="128" required>
                                    <div class="invalid-feedback">Please choose a username.</div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="password" class="form-label">Password<span class="text-red">*</span></label>
                                <input type="password" name="Password" value="@Model.Password" class="form-control" id="password" maxlength="128" required>
                                <div class="invalid-feedback">Please enter password!</div>
                            </div>

                            <div class="col-12">
                                <label for="confirmPassword" class="form-label">Confirm Password<span class="text-red">*</span></label>
                                <input type="password" name="" value="@Model.Password" class="form-control" id="confirmPassword" maxlength="128" required>
                                <div class="invalid-feedback">Please enter confirm password!</div>
                            </div>

                            <div class="col-12">
                                <label for="emailId" class="form-label">Email<span class="text-red">*</span></label>
                                <input type="email" name="EmailId" value="@Model.EmailId" class="form-control" id="emailId" maxlength="256" required>
                                <div class="invalid-feedback">Please enter a valid Email Adddress!</div>
                            </div>

                            <div class="col-12">
                                <label for="mobile" class="form-label">Mobile Number<span class="text-red">*</span></label>
                                <div class="input-group has-validation">
                                    <input type="number" name="Mobile" value="@Model.Mobile" class="form-control" id="mobile" maxlength="10" required>
                                    <div class="invalid-feedback">Please enter mobile number.</div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="altMobile" class="form-label">Alt. Mobile Number</label>
                                <div class="input-group has-validation">
                                    <input type="number" name="AltMobile" value="@Model.AltMobile" class="form-control" id="altMobile" maxlength="10">
                                    <div class="invalid-feedback">Please enter alternate mobile number.</div>
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="role" class="form-label">Role<span class="text-red">*</span></label>
                                <div class="input-group has-validation">
                                    <select class="form-control" id="role" name="RoleId" required>
                                        @if(Model.RoleId == Safepot.Business.Common.AppRoles.Accounts)
                                        {
                                            <option value="1">Admin</option>
                                            <option value="2" selected>Accounts</option>
                                            <option value="8">Sales</option>
                                        }
                                        else if (Model.RoleId == Safepot.Business.Common.AppRoles.Sales)
                                        {
                                            <option value="1">Admin</option>
                                            <option value="2">Accounts</option>
                                            <option value="8" selected>Sales</option>
                                        }
                                        else
                                        {
                                            <option value="1" selected>Admin</option>
                                            <option value="2">Accounts</option>
                                            <option value="8">Sales</option>
                                        }
                                    </select>
                                    <div class="invalid-feedback">Please select role.</div>
                                </div>
                            </div>

                           
                            
                            
                            <div class="col-12">
                                <button class="btn btn-primary w-100" id="btnSave" type="submit">Save</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>
    </section>
</main>

<script src="~/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    $("#btnSave").click(function () {
        if ($("#password").val() != $("#confirmPassword").val()) {
            alert("Password & Confirm Password is not matching");
            return false;
        }
    });
</script>


